@charset "UTF-8";

html {
    line-height: 1;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

main {
    display: block;
}

b,
strong {
    font-weight: 500;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

img[width="0"][height="0"] {
    display: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
}

textarea::-webkit-scrollbar {
    width: 0;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2rem;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

*:focus {
    outline: none;
}

.no-scrolling {
	overflow: hidden;
}

.link {
    color: #679400;
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
}

.invert-link {
    color: #679400;
	text-decoration: none;
}

.invert-link:hover {
	text-decoration: underline;
}

/*styles config 
adaptive full-hd 1rem = calc(100vw / 1920)
adaptive 768px 1rem = calc(100vw / 768)
static 1rem = 1px
*/
html,
body {
    font-size: 1px;
    height: 100%;
}
/*end styles config*/

/*SCROLL ---------------------- */
.simplebar-track.simplebar-vertical {
    width: 6rem;
    right: -20rem;
}

.simplebar-track.simplebar-vertical::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 2rem;
    height: 100%;
    background: #B0C77B;
    border-radius: 10rem;
    z-index: 0;
}

.simplebar-scrollbar {
    transition: all .1s ease;
    z-index: 1;
}

.simplebar-scrollbar::before {
    top: 0 !important;
    left: -10rem;
    right: -10rem;
    bottom: 0 !important;
    width: 6rem;
    margin: auto;
    background: #679400;
    border: 0;
    border-radius: 10rem;
    opacity: 0;
    transition: all .3s ease;
}

.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}

@media (max-width: 768px) {
    .simplebar-track.simplebar-vertical {
        right: -12rem;
    }
}
/**/

/* browser scroll width */
::-webkit-scrollbar {
    width: 10rem;
    height: 4rem;
}

/* browser scroll track */
::-webkit-scrollbar-track {
    background: #F4F4F4;
}

/* browser scroll handle */
::-webkit-scrollbar-thumb {
    background: #679400;
}

body .mobile-visible,
body .laptop-visible {
    display: none;
}

@media (max-width: 768px) {
    body .laptop-visible {
        display: block;
    }

    body .desktop-visible {
        display: none;
    }
}

@media (max-width: 480px) {
    body .mobile-visible {
        display: block;
    }

    body .desktop-visible,
    body .desktop-laptop-visible,
    body .desktop-mobile-visible {
        display: none;
    }
}

/*формы*/
.form-wrapper {
    max-width: 640rem;
    width: 100%;
    margin: 0 auto;
}

.ip_cell {
    position: relative;
    padding-bottom: 16rem;
    /* margin-bottom: 8rem; */
}

.input_text {
    font-weight: 400;
    font-size: 18rem;
    line-height: 1.3;
    color: #000;
    width: 100%;
    height: 44rem;
    padding: 10rem 16rem;
    background: #fff;
    border: 1rem solid #606060;
    border-radius: 16rem;
    transition: all 0.3s ease;
}

.has-error .input_text,
.input_text.error {
    border-color: #E4002B;
    color: #E4002B;
}

textarea.input_text {
    height: 80rem;
}

.input_text:hover,
.input_text:focus {
    border: 1rem solid #84BD00;
}

.ip_cell span.error {
    position: absolute;
    bottom: 0;
    left: 16rem;
    font-size: 14rem;
    line-height: 1.3;
    letter-spacing: 0.14rem;
    color: #E4002B;
}

.modal_error {
    display: none;
    position: relative;
    margin-bottom: 8rem;
    font-size: 14rem;
    line-height: 1.3;
    letter-spacing: 0.14rem;
    color: #E4002B;
}

.has-error .modal_error {
    display: block;
}

.ch {
    display: none;
}

.ch ~ label {
    position: relative;
    display: inline-block;
    padding-left: 20rem;
    cursor: pointer;
    font-size: 14rem;
    line-height: 1.3;
    letter-spacing: 0.14rem;
    transition: all 0.3s ease;
}

.ch ~ label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 14rem;
    height: 14rem;
    border: 1rem solid #606060;
    border-radius: 2rem;
    background-color: transparent;
    transition: all 0.3s ease;
}

.ch ~ label::after {
    content: '';
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 12rem;
    height: 12rem;
    background: url(../img/icon-check.svg) center/8rem no-repeat;
    opacity: 0;
    transition: all 0.2s ease;
}

.ch:hover ~ label::before {
    background: #B0C77B;
    border-color: #B0C77B;
}

.ch:checked ~ label::before {
    background: #84BD00;
    border-color: #84BD00;
}

.ch:hover ~ label::after,
.ch:checked ~ label::after {
    opacity: 1;
}

.ch ~ label a {
    color: #84BD00;
    text-decoration: underline;
}

.ch ~ label a:hover {
    text-decoration: none;
}

.has-error .input_text {
    border-color: #E4002B;
    color: #E4002B;
}

.ch.error ~ label::before,
.has-error .ch ~ label::before {
    border-color: #E4002B;
}

.rd ~ label {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-left: 30rem;
    cursor: pointer;
    font-size: 16rem;
    line-height: 1.5;
    transition: all 0.3s ease;
}

.rd ~ label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 20rem;
    height: 20rem;
    border: 1rem solid #84BD00;
    border-radius: 20rem;
    background-color: transparent;
    transition: all 0.3s ease;
}

.rd ~ label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 3rem;
    bottom: 0;
    margin: auto;
    width: 14rem;
    height: 14rem;
    background: #84BD00;
    border-radius: 20rem;
    transform: scale(0);
    transition: all 0.2s ease;
}

.rd:checked ~ label::before {
    border-color: #84BD00;
}

.rd:checked ~ label::after {
    transform: scale(1);
}

.rd ~ label a {
    color: #84BD00;
    text-decoration: underline;
}

.rd ~ label a:hover {
    text-decoration: none;
}

.rd.error ~ label::before
.has-error .rd ~ label::before {
    border-color: #E4002B;
}

.ch ~ span.error,
.rd ~ span.error {
    display: none !important;
}
/*конец формы*/

/* Select2 */
.select {
    max-width: 728rem;
    min-width: 140rem;
    width: 100%;
}

.select select {
    width: 100%;
}

.select2 {
    z-index: 2;
}

.select2.select2-container--open {
    z-index: 4;
}

.select2-container--open {
    z-index: 3;
}

.select2-container span {
    outline: none;
}

.select2-container .select2-selection--single {
    width: 100%;
    height: 44rem;
    padding: 10rem 40rem 10rem 16rem;
    border: 1rem solid #606060;
    border-radius: 16rem;
}

.select2.select2-container--open .select2-selection--single {
    border: 1rem solid #84BD00;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-weight: 400;
    font-size: 18rem;
    line-height: 1.3;
    text-align: left;
    color: #000;
    padding-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-weight: 400;
    font-size: 18rem;
    line-height: 1.3;
    color: #606060;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 20rem;
    height: 21rem;
    position: absolute;
    top: 0;
    right: 16rem;
    bottom: 0;
    margin: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin: 0;
    top: 0;
    left: 0;
    border: none;
    width: 20rem;
    height: 21rem;
    background: url(../img/icon-carret.svg) center no-repeat;
    transition: all .3s ease;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    transform: rotate(-180deg);
}

.select2-dropdown {
    background: #fff;
    border-radius: 0;
    color: #606060;
    border: 0;
}

.select2-container--open .select2-dropdown--below {
    padding-bottom: 10rem;
    top: 0;
    border-bottom-left-radius: 16rem;
    border-bottom-right-radius: 16rem;
    border: 1rem solid #84BD00;
    border-top: 0;
    overflow: hidden;
    z-index: 1;
}

.select2-container--open .select2-dropdown--below::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 32rem);
    height: 1rem;
    background: #606060;
}

.select2-results__options {
    border-radius: 0;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 250rem;
    padding-top: 0;
}

.select2-results__option {
    position: relative;
    font-weight: 400;
    font-size: 18rem;
    line-height: 1;
    min-height: 30rem;
    padding: 8rem 16rem;
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: transparent;
    color: #84BD00;
}
/**/

/* MODAL */
.modal:not(.fade) {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease;
}

.modal.visible {
    opacity: 1;
    height: auto;
    visibility: visible;
}

.fancybox-container .modal:not(.fade),
.fancybox-container .modal.visible {
    position: static;
    z-index: auto;
    padding: 0;
    background: none;
    opacity: 1;
    visibility: inherit;
}

.modal_content {
    position: absolute;
    top: 100rem;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 40rem 20rem;
    width: 375rem;
    /* height: max-content;
    max-height: 90vh; */
    background: #fff;
    border-radius: 32rem;
    z-index: 2;
}

.game-modal .modal_content {
    width: 350rem;
    padding: 40rem 20rem 325rem 20rem;
    background: url(../img/kish.png) right bottom/330rem no-repeat #fff;
}

.game-modal .modal_title {
    font-weight: 400;
    font-size: 44rem;
    letter-spacing: 0.88rem;
    text-transform: uppercase;
}

.modal#form-authorization {
    position: relative;
    display: none;
    width: 375px;
    height: 640px;
}

.modal.visible#form-authorization {
    display: block;
}

.modal .fancybox-button--close,
.modal .fancybox-close-small,
#form-authorization .close {
    display: none;
}

#form-authorization .fancybox-close-small {
    display: block;
    top: 14rem;
    right: 16rem;
    width: 30rem;
    height: 30rem;
    padding: 0;
    transition: all .3s ease;
}

#form-authorization .fancybox-close-small:hover {
    transform: rotate(90deg);
}

#form-authorization .azs-auth-widget {
    margin-top: 0;
}

.modal_title {
    margin-bottom: 8rem;
    font-weight: 400;
    font-size: 44rem;
    line-height: 1;
    letter-spacing: 0.6rem;
    color: #000;
}

.modal_text {
    margin-bottom: 10rem;
    font-size: 18rem;
    line-height: 1.3;
}

.modal_text-center {
    text-align: center;
}

.modal_close {
    position: absolute;
    top: 24rem;
    right: 24rem;
    width: 24rem;
    height: 24rem;
    background: url(../img/icon-close.svg) center/contain no-repeat;
    z-index: 10;
    color: transparent;
    font-size: 0;
}

.modal_close:hover {
    transform: rotate(90deg);
}

.modal .form {
    margin-top: 20rem;
}
/*end MODAL*/

/*main styles*/
body {
    margin: 0;
    color: #606060;
    font: normal 300 16rem/1 'Cervo', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #fff;
}

.wrapper-stub {
    background: #84BD00;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    overflow: hidden;
}

.container {
    position: relative;
    max-width: 1480rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 20rem;
}

.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 24rem;
    left: 0;
    right: 0;
    max-width: 1440rem;
    width: 100%;
    height: 84rem;
    margin: auto;
    background: #fff;
    box-shadow: 0rem 10rem 20rem 0rem rgba(0, 0, 0, 0.10);
    border-radius: 50rem;
    z-index: 10;
    transition: all .3s ease;
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440rem;
    width: 100%;
    margin: 0 auto;
    padding: 16rem 40rem;
    z-index: 11;
}

.menu-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.menu-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 68rem;
    width: 100%;
    margin: 0 20rem;
    font-size: 18rem;
    line-height: 1.3;
    color: #000;
}

.menu-link img {
    width: 24rem;
    margin-bottom: 6rem;
}

.menu-link:hover {
    color: #84BD00;
}

.logo {
    position: relative;
    display: block;
    max-width: 128rem;
    width: 100%;
    height: 49rem;
    background: url(../img/logo.svg) center/contain no-repeat;
    z-index: 11;
}

.header .logo {
    margin-right: auto;
}

.header-buttons {
    position: relative;
    display: flex;
    margin-left: auto;
    z-index: 11;
}

.header-buttons * {
    margin-left: 10rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons * {
    margin-top: 10rem;
}

.buttons *:not(:first-child) {
    margin-left: 10rem;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 14rem 32rem;
    background: #84BD00;
    border: 1rem solid transparent;
    border-radius: 30rem;
    font-weight: normal;
    font-size: 18rem;
    line-height: 1;
    text-align: center;
    color: #fff;
    transition: all .3s ease;
    overflow: hidden;
}

.btn span {
    position: relative;
    margin: 0;
    z-index: 1;
}

.btn:not(.btn-white, .btn-invert)::before {
    content: '';
    position: absolute;
    left: -20rem;
    bottom: -20rem;
    width: 20rem;
    height: 20rem;
    background: #679400;
    border-radius: 80rem;
    transition: all .4s ease;
}

.btn:hover::before {
    width: calc(100% + 40rem);
    height: 200%;
}

.btn.disabled,
.btn[disabled] {
    opacity: .6;
    pointer-events: none;
}

.btn-big {
    width: 100%;
    font-size: 24rem;
}

.btn-invert {
    background: transparent;
    color: #84BD00;
}

.btn-invert:hover {
    background: transparent;
    color: #679400;
}

.btn-white {
    background: #fff;
    color: #84BD00;
}

.btn-white:hover {
    background: #fff;
    color: #679400;
}

.footer {
    position: relative;
    padding: 16rem 0;
    background: #fff;
    border-radius: 16rem 16rem 0 0;
}

.footer-container {
    position: relative;
    max-width: 1480rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 20rem;
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18rem;
    line-height: 1.3;
}

.footer .logo {
    margin: 0 auto;
    z-index: 1;
}

.footer-links {
    margin: 10rem 0 0;
}

.footer-link {
    font-weight: 400;
    font-size: 24rem;
    line-height: 1.1;
    color: #000;
}

.footer-link:hover {
    color: #84BD00;
}

.footer-links .footer-link:not(:last-child) {
    margin-right: 24rem;
}

.footer-socs {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 0;
}

.footer-link-text {
    font-weight: 400;
    font-size: 24rem;
    line-height: 1.1;
    color: #84BD00;
}

.footer-phone,
.footer-mail {
    color: #84BD00;
}

.footer-phone:hover,
.footer-mail:hover {
    color: #000;
}

.footer-phone {
    margin-bottom: 6rem;
}

.footer-mail {
    text-decoration: underline;
}

.footer-copyright-block {
    position: relative;
    padding-top: 48rem;
}

.copyright {
    font-size: 16rem;
    line-height: 1.3;
    text-align: justify;
    color: #606060;
}

.section {
    padding: 70rem 0;
}

.header + .section:not(.section-main) {
    padding-top: 170rem;
}

.page-title {
    margin-bottom: 16rem;
    font-weight: 500;
    font-size: 60rem;
    line-height: 1;
    letter-spacing: 0.6rem;
    text-align: center;
}

.section-faq {
    background: #84BD00;
    border-radius: 50rem;
    color: #fff;
}

.faq-blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 24rem;
}

.feedback-block {
    max-width: 400rem;
    width: 100%;
    padding: 36rem 66rem 22rem;
    background: #F4F4F4;
    border-radius: 40rem;
    color: #606060;
}

.feedback-title {
    margin-bottom: 16rem;
    font-weight: 400;
    font-size: 24rem;
    line-height: 1.1;
    text-align: center;
}

.faq-block {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900rem;
    width: 100%;
}

.faq-wrap {
    max-width: 668rem;
    width: 100%;
    max-height: 460rem;
    margin: 0 auto;
}

.faq-item {
    border-bottom: 1rem solid #B0C77B;
    transition: all 0.3s ease;
}

.faq-item-title {
    position: relative;
    margin: 0;
    padding: 16rem 60rem 16rem 0;
    font-weight: 400;
    font-size: 18rem;
    line-height: 1.3;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.faq-item-title::after {
    content: '';
    position: absolute;
    top: 16rem;
    right: 0;
    width: 24rem;
    height: 24rem;
    background: url(../img/icon-plus.svg) center/contain no-repeat;
    transition: all 0.3s ease;
}

.faq-item.active .faq-item-title::after {
    transform: rotate(-45deg);
}

.faq-item.active .faq-item-title {
    padding-bottom: 10rem;
}

.faq-item-text {
    display: none;
    padding: 16rem 0;
    padding-top: 0;
    font-weight: 100;
    font-size: 16rem;
    line-height: 1.3;
    color: #f4f4f4;
}

.faq-item-text ul {
    font-size: 18rem;
    line-height: normal;
    margin: 10rem 0;
    padding-left: 0;
    list-style: none;
}

.faq-item-text ul li {
    padding-left: 17rem;
    margin-bottom: 10rem;
}

.faq-item-text ul li::before {
    content: '●';
    color: #fff;
    display: inline-block;
    width: 17rem;
    margin-left: -17rem;
}

.faq-item-text ol {
    font-size: 18rem;
    line-height: normal;
    margin: 10rem 0;
    padding: 0;
    counter-reset: counter;
    list-style: none;
}

.faq-item-text ul li {
    padding-left: 16rem;
}

.faq-item-text ol li {
    padding-left: 25rem;
}

.faq-item-text ol li,
.faq-item-text ul li {
    margin-bottom: 10rem;
}

.faq-item-text ol li::before {
    float: left;
    width: 17rem;
    margin-left: -25rem;
    counter-increment: counter;
    content: counter(counter) ". ";
    font-weight: 500;
    text-align: right;
    color: #84BD00;
    word-break: normal;
}

.faq-item-text ol ol {
    margin-top: 10rem;
    margin-bottom: 0;
    padding-left: 25rem;
}

.faq-item-text ol ol li::before {
    content: counters(counter, ".") " ";
    width: 25rem;
    margin-left: -25rem;
}

.section-winners {
    background: #fff;
}

.section-winners .page-title {
    text-align: center;
    color: #000;
}

.winners-nav-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 48rem 0 24rem;
}

.winners-week-tabs {
    position: relative;
    display: none !important;
    max-width: 328rem;
    width: 100%;
    min-height: 46rem;
    border-radius: 46rem;
    overflow: hidden;
}

.winners-week-tabs.active {
    display: flex !important;
}

.winners-week-tabs.active.owl-carousel.owl-loaded {
    display: block !important;
}

.winners-week-tabs .owl-stage {
    display: flex;
}

.winners-week-tab {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12rem 16rem;
    background: #F4F4F4;
    font-weight: 500;
    font-size: 24rem;
    line-height: 1;
    letter-spacing: 0.24rem;
    color: #000;
    white-space: nowrap;
}

.winners-week-tab::after {
    content: '';
    position: absolute;
    right: 0;
    width: 1rem;
    height: 100%;
    background: #AAA;
}

.winners-week-tab:last-child::after,
.owl-item:last-child .winners-week-tab::after {
    display: none;
}

.winners-week-tab:hover {
    background: #B0C77B;
}

.winners-week-tab.active {
    background: #84BD00;
    color: #fff;
}

.winners-week-tabs .owl-nav {
    margin: auto;
}

.winners-week-tabs .owl-nav button {
	position: absolute;
	top: 0;
	bottom: 0;
    margin: auto !important;
    padding: 0 !important;
	width: 32rem;
    height: 32rem;
    background: transparent !important;
    z-index: 1;
}

.winners-week-tabs .owl-nav button.owl-prev {
	left: 0;
}

.winners-week-tabs .owl-nav button.owl-prev::before {
    content: '';
    position: absolute;
    top: -15rem;
    left: -4rem;
    bottom: -15rem;
    margin: auto;
    width: 100rem;
    height: 100%;
    min-height: 48rem;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.60) 100%);
    z-index: 0;
}

.winners-week-tabs .owl-nav button.owl-prev::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/icon-arrow-left.svg) center/contain no-repeat;
}

.winners-week-tabs .owl-nav button.owl-prev:hover::after {
    background: url(../img/icon-arrow-left-active.svg) center/contain no-repeat;
}

.winners-week-tabs .owl-nav button.owl-next {
	right: 0;
}

.winners-week-tabs .owl-nav button.owl-next::before {
    content: '';
    position: absolute;
    top: -15rem;
    right: -4rem;
    bottom: -15rem;
    margin: auto;
    width: 100rem;
    height: 100%;
    min-height: 48rem;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.60) 100%);
    z-index: 0;
}

.winners-week-tabs .owl-nav button.owl-next::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/icon-arrow-right.svg) center/contain no-repeat;
}

.winners-week-tabs .owl-nav button.owl-next:hover::after {
    background: url(../img/icon-arrow-right-active.svg) center/contain no-repeat;
}

.winners-week-tabs .owl-nav button span {
	display: none;
}

.winners-week-tabs .owl-nav .disabled {
	opacity: 0;
    pointer-events: none;
}

.winners-prizes-tabs {
    display: flex;
    align-items: center;
    border-radius: 46rem;
    overflow: hidden;
}

.winners-prizes-tab {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12rem 40rem;
    background: #F4F4F4;
    font-weight: 500;
    font-size: 24rem;
    line-height: 1;
    color: #84BD00;
    white-space: nowrap;
}

.winners-prizes-tab:hover {
    background: #B0C77B;
    color: #000;
}

.winners-prizes-tab.active {
    background: #84BD00;
    color: #fff;
}

.winners-prizes-tab-item,
.winners-week-tab-item {
    display: none;
}

.winners-prizes-tab-item.active,
.winners-week-tab-item.active {
    display: block;
}

.winners-table .table-head {
    padding: 6rem 0;
    background: rgb(132 189 0 / 60%);
    border-radius: 60rem;
}

.table-col {
    padding: 12rem 40rem;
    font-size: 18rem;
    line-height: 1.3;
    color: #000;
}

.winners-table .table-head .table-col {
    font-weight: 400;
    font-size: 24rem;
    line-height: 1;
    letter-spacing: 0.24rem;
    color: #fff;
}

.table-row {
    position: relative;
    display: flex;
    align-items: baseline;
}

/* .table-row::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background: #AAA;
} */

.table-head .table-col {
    color: #606060;
}

.table-body {
    max-height: 250rem;
}

.winners-table .table-body {
    max-height: 350rem;
}

.winners-table .table-row {
    justify-content: space-between;
}

.winners-table .table-body .table-row:nth-child(even) {
    background: rgb(176 199 123 / 10%);
    border-radius: 60rem;
}

.winners-table .table-col {
    max-width: 300rem;
    width: 100%;
    min-width: 190rem;
}

.winners-table .table-body .table-col {
    padding-top: 16rem;
    padding-bottom: 16rem;
}

.table-col:last-child {
    width: 100%;
}

.superprize-winner .table-col {
    font-weight: 400;
    font-size: 24rem;
}

.section-mainprize {
    height: 980rem;
    padding-top: 160rem;
    background: url(../img/bg-mainprize.svg) center/cover no-repeat;
}

.mainprize-block {
    max-width: 832rem;
    padding: 40rem;
    border-radius: 24rem;
    background: rgba(255, 255, 255, 0.20);
    -webkit-backdrop-filter: blur(10rem);
    backdrop-filter: blur(10rem);
}

.mainprize-block .page-title {
    max-width: 600rem;
    margin-bottom: 8rem;
    color: #000;
}

.mainprize-text {
    font-weight: 400;
    font-size: 24rem;
    line-height: 1;
    letter-spacing: 0.24rem;
    color: #000;
}

.section-prizes {
    position: relative;
    background: #fff;
}

.decor-tree-left,
.decor-tree-right {
    position: absolute;
    top: -152rem;
    width: 460rem;
    height: 650rem;
}

.decor-tree-left {
    left: -213rem;
    background: url(../img/decor-tree-left.svg) center/contain no-repeat;
}

.decor-tree-right {
    right: -213rem;
    background: url(../img/decor-tree-right.svg) center/contain no-repeat;
}

.section-prizes .page-title {
    text-align: center;
    color: #E4002B;
}

.red-text {
    color: #E4002B;
}

.green-text {
    color: #84BD00;
}

.prize-garant {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prize-garant-text {
    max-width: 310rem;
    width: 100%;
    margin-top: 80rem;
    font-weight: 400;
    font-size: 32rem;
    line-height: 1;
    text-transform: uppercase;
    color: #231F20;
}

.prize-garant-text:first-child {
    text-align: right;
}

.prize-garant-img {
    width: 182rem;
    height: 200rem;
    margin: 0 36rem;
}

.prizes-block {
    display: flex;
    flex-direction: column;
}

.prizes-title {
    margin: 60rem 0;
    font-weight: 400;
    font-size: 44rem;
    line-height: 1;
    letter-spacing: 0.88rem;
    text-align: center;
    text-transform: uppercase;
}

.prizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prize {
    position: relative;
    width: 328rem;
}

.prize-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 18rem;
    width: 240rem;
    height: 240rem;
}

.prize-total {
    position: absolute;
    top: -12rem;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80rem;
    height: 80rem;
    border-radius: 80rem;
    font-size: 24rem;
    line-height: 1;
    letter-spacing: -0.48rem;
    color: #fff;
}

.prizes-everyday .prize-total {
    background: #92C83E;
}

.prizes-everyweek .prize-total,
.prize-main .prize-total {
    background: #E4002B;
}

.prize-name {
    font-weight: 400;
    font-size: 24rem;
    line-height: 1.1;
    text-align: center;
    color: #000;
}

.prize-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60rem 0 30rem;
}

.prize-main-text {
    max-width: 310rem;
    width: 100%;
    font-weight: 400;
    font-size: 44rem;
    line-height: 1;
    text-transform: uppercase;
    color: #231F20;
}

.prize-main-text:first-child {
    text-align: right;
}

.prize-main-img {
    position: relative;
    width: 240rem;
    height: 180rem;
    margin: 0 44rem;
}

.prize-main-img .prize-total {
    top: -50rem;
    right: -70rem;
}

.section-game-mainpage {
    min-height: 540rem;
    background: url(../img/bg-game-main.svg) center/cover no-repeat;
    border-radius: 50rem;
}

.game-mainpage-info {
    max-width: 440rem;
    width: 100%;
    margin-left: 130rem;
    padding: 30rem 0;
    color: #000;
}

.game-mainpage-title {
    font-weight: 400;
    font-size: 44rem;
    line-height: 1;
    letter-spacing: 0.88rem;
    text-transform: uppercase;
}

.game-mainpage-text {
    max-width: 320rem;
    margin: 36rem 0;
    font-weight: 400;
    font-size: 32rem;
    line-height: 1;
}

.game-mainpage-info .btn {
    max-width: 300rem;
}

.section-steps {
    background: linear-gradient(181deg, #7EBB00 0.93%, rgba(255, 255, 255, 0.00) 96.63%);
    border-radius: 50rem 50rem 0 0;
}

.section-steps .page-title {
    color: #fff;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 56rem 0 0;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 345rem;
    text-align: center;
}

.step-title {
    margin-bottom: 8rem;
    font-weight: 400;
    font-size: 32rem;
    line-height: 1;
    text-transform: uppercase;
    color: #E4002B;
}

.step-text {
    font-size: 18rem;
    line-height: 1.3;
    color: #000;
}

.step-text span {
    color: #E4002B;
}

.step .btn {
    margin-top: 10rem;
    z-index: 1;
}

.section-main {
    position: relative;
    height: 980rem;
    padding-top: 180rem;
    background: radial-gradient(80.5% 51.78% at 62.79% 56.58%, #C7FBBC 0%, #90C63E 70%);
}

.section-mainpage {
    border-radius: 0 0 50rem 50rem;
}

.section-main .gift-decor {
    position: absolute;
    top: 144rem;
    left: 0;
    right: -630rem;
    width: 1138rem;
    height: 817rem;
    margin: auto;
}

.stub-title {
    margin-bottom: 20rem;
    font-weight: 400;
    font-size: 160rem;
    line-height: 90%;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3rem 3rem 0rem rgba(68, 81, 75, 0.25);
}

.stub-text {
    max-width: 500rem;
    margin-bottom: 80rem;
    font-weight: 400;
    font-size: 48rem;
    line-height: 1;
    letter-spacing: 0.48rem;
    text-transform: uppercase;
    color: #000;
}

.main-text {
    margin-bottom: 36rem;
}

.main-btn {
    display: inline-flex;
}

.grecaptcha-badge { 
    visibility: hidden;
}

.section-lk {
    position: relative;
    padding-top: 170rem;
    padding-bottom: 40rem;
    background: radial-gradient(113.47% 78.13% at 72.47% 62.13%, #C7FBBC 0%, #90C63E 70%);
    border-radius: 0 0 50rem 50rem;
    overflow: hidden;
}

.section-lk .page-title {
    text-align: left;
}

.lk-row {
    display: flex;
    margin-left: 112rem;
}

.lk-col {
    position: relative;
}

.lk-col:first-child {
    max-width: 520rem;
    width: 100%;
    margin-right: 56rem;
}

.lk-col:last-child {
    width: calc(100% - 576rem);
}

.profile-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 22rem;
}

.profile-name {
    max-width: 220rem;
    width: 100%;
    margin-right: 20rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 24rem;
    line-height: 1.1;
    color: #392A25;
}

.points {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 50rem; */
    padding: 8rem 16rem 0;
    margin-right: 20rem;
    background: #679400;
    border-radius: 25rem;
    font-weight: 400;
    font-size: 44rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
}

.profile-phone {
    position: relative;
    padding-left: 20rem;
    margin-bottom: 12rem;
    font-size: 18rem;
    line-height: 1;
    color: #fff;
}

.profile-phone::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 15rem;
    height: 12rem;
    background: url(../img/icon-phone.svg) center/contain no-repeat;
}

.logout-link {
    position: relative;
    padding-left: 20rem;
    margin-bottom: 12rem;
    font-size: 18rem;
    line-height: 1;
    color: #606060;
    opacity: 0.5;
}

.logout-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 9rem;
    height: 11rem;
    background: url(../img/icon-quit.svg) center/contain no-repeat;
}

.logout-link:hover {
    opacity: 1;
}

.lk-table-wrapper {
    width: 100%;
    min-height: 378rem;
    padding: 30rem 24rem 38rem 36rem;
    background: #F4F4F4;
    border-radius: 32rem;
}

.table-title {
    margin-bottom: 30rem;
    font-weight: 400;
    font-size: 32rem;
    line-height: 1;
    color: #392A25;
}

.transaction-table .table-head .table-col {
    opacity: 0.6;
}

.transaction-table .table-body {
    max-height: 200rem;
}

.transaction-table .table-col:not(:last-child) {
    padding-left: 0;
    padding-right: 30rem;
}

.transaction-table .table-col:last-child {
    padding-left: 0;
    padding-right: 0;
}

.transaction-table .table-col:nth-child(1) {
    width: 112rem;
}

.transaction-table .table-col:nth-child(2) {
    width: 88rem;
}

.transaction-table .table-col:nth-child(3) {
    width: 116rem;
}

.transaction-table .table-col:nth-child(4) {
    width: 150rem;
}

.transaction-table .simplebar-track.simplebar-vertical {
    right: -8rem;
}

.lk-information {
    position: relative;
    max-width: 426rem;
    width: 100%;
    padding: 20rem 30rem;
    background: #F4F4F4;
    border-radius: 32rem;
    font-weight: 400;
    font-size: 24rem;
    line-height: 1.1;
    color: #000;
}

.tree {
    position: absolute;
    top: 50rem;
    left: 0;
    right: -380rem;
    width: 422rem;
    height: 514rem;
    margin: auto;
    background: url(../img/lk-tree.svg) center/contain no-repeat;
}

.lvl {
    position: absolute;
    pointer-events: none;
}

.lvl1 {
    left: 10rem;
    bottom: 40rem;
    width: 396rem;
    height: 96rem;
    background: url(../img/garland01.svg) center/contain no-repeat;
}

.lvl1-active .lvl1,
.lvl2-active .lvl1,
.lvl3-active .lvl1,
.lvl4-active .lvl1,
.lvl5-active .lvl1 {
    left: 7rem;
    bottom: 25rem;
    width: 403rem;
    height: 134rem;
    background: url(../img/garland01_active.svg) center/contain no-repeat;
    cursor: pointer;
    pointer-events: auto;
}

.lvl2 {
    left: 102rem;
    bottom: 162rem;
    width: 262rem;
    height: 75rem;
    background: url(../img/garland02.svg) center/contain no-repeat;
}

.lvl2-active .lvl2,
.lvl3-active .lvl2,
.lvl4-active .lvl2,
.lvl5-active .lvl2 {
    left: 83rem;
    bottom: 147rem;
    width: 300rem;
    height: 112rem;
    background: url(../img/garland02_active.svg) center/contain no-repeat;
    cursor: pointer;
    pointer-events: auto;
}

.lvl3 {
    top: 164rem;
    left: 112rem;
    width: 207rem;
    height: 59rem;
    background: url(../img/garland03.svg) center/contain no-repeat;
}

.lvl3-active .lvl3,
.lvl4-active .lvl3,
.lvl5-active .lvl3 {
    top: 141rem;
    left: 93rem;
    width: 245rem;
    height: 96rem;
    background: url(../img/garland03_active.svg) center/contain no-repeat;
    cursor: pointer;
    pointer-events: auto;
}

.lvl4 {
    top: 84rem;
    left: 163rem;
    width: 122rem;
    height: 52rem;
    background: url(../img/garland04.svg) center/contain no-repeat;
}

.lvl4-active .lvl4,
.lvl5-active .lvl4 {
    top: 62rem;
    left: 145rem;
    width: 159rem;
    height: 88rem;
    background: url(../img/garland04_active.svg) center/contain no-repeat;
    cursor: pointer;
    pointer-events: auto;
}

.lvl5 {
    top: -54rem;
    left: 170rem;
    right: 148rem;
    width: 103rem;
    height: 103rem;
    background: url(../img/star.png) center/contain no-repeat;
}

.lvl5-active .lvl5 {
    top: -54rem;
    left: 151rem;
    right: 148rem;
    width: 141rem;
    height: 118rem;
    background: url(../img/star_active.png) center/contain no-repeat;
}

.lvl-tooltip {
    position: absolute;
    left: -280rem;
    bottom: 0;
    width: 280rem;
    height: 184rem;
    padding: 20rem 30rem;
    background: #fff;
    border-radius: 32rem;
    transition: all .3s ease;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.lvl-tooltip::after {
    content: '';
    position: absolute;
    top: 0;
    right: -20rem;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #fff;
    border-bottom: 10px solid transparent;
}

.lvl-tooltip.active {
    opacity: 1;
    pointer-events: auto;
}

.lvl-tooltip-text {
    margin-bottom: 10rem;
    font-weight: 400;
    font-size: 14rem;
    line-height: 1.3;
    letter-spacing: 0.14rem;
    text-align: center;
    color: #000;
}

.lvl-tooltip-prizes {
    display: flex;
    justify-content: space-between;
}

.lvl-tooltip-prize {
    width: 100rem;
}

.lvl-tooltip-prize-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90rem;
    height: 70rem;
    margin: 0 auto 10rem;
}

.lvl-tooltip-prize-name {
    font-weight: 400;
    font-size: 14rem;
    line-height: 1.3;
    letter-spacing: 0.14rem;
    text-align: center;
    color: #000;
}

.countdown-game-wrapper {
    position: absolute;
    top: 0;
    right: 20rem;
    width: 326rem;
    height: 60rem;
    padding: 20rem 30rem;
    background: #F4F4F4;
    border-radius: 32rem;
}

.countdown-game-text {
    font-weight: 400;
    font-size: 24rem;
    line-height: 1;
    color: #000;
}

.countdown-game {
    color: #E4002B;
}

/* game */
#usefont {
    font-family: 'Cervo';
    font-size: 0;
}

#physicsCanvas {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.game-wrap {
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    background: url(../img/bg-tile-min.jpg) repeat;
}

.game-wrap h1 {
    color: white;
    background-color: black;
}

.close-game {
    position: absolute;
    top: 24rem;
    left: 24rem;
    width: 60rem;
    height: 60rem;
    background: url(../img/icon-arrow-left.svg) center/contain no-repeat;
    z-index: 10;
    font-size: 0;
    line-height: 0;
}

.close-game:hover {
    background-image: url(../img/icon-arrow-left-active.svg);
}
/*end main styles*/

/*adaptive styles*/
@media (max-width: 1440px) {
    html {
        font-size: calc(100vw / 1440);
    }

    .container,
    .footer-container {
        max-width: 1400rem;
    }

    .header {
        max-width: 1360rem;
    }

    .header-container {
        max-width: 1360rem;
    }

    .section-mainprize {
        height: 735rem;
        padding-top: 110rem;
    }

    .mainprize-block {
        max-width: 670rem;
        padding: 40rem 20rem 40rem 40rem;
    }

    .prize {
        width: 325rem;
    }

    .step {
        width: 325rem;
    }

    .section-main {
        height: 740rem;
        padding-top: 160rem;
    }

    .section-main .gift-decor {
        top: 127rem;
        right: -540rem;
        width: 836rem;
        height: 600rem;
    }

    .stub-title {
        margin-bottom: 30rem;
        font-size: 120rem;
    }

    .stub-text {
        max-width: 440rem;
        margin-bottom: 40rem;
        font-size: 42rem;
        letter-spacing: 0.42rem;
    }
}
/*end adaptive styles*/

/*laptop styles*/
@media (max-width: 768px) {
    html {
        font-size: calc(100vw / 768);
    }

    .header {
        top: 8rem;
        max-width: calc(100% - 40rem);
    }

    .header-container {
        padding: 16rem 24rem;
    }

    .header .logo {
        margin-right: 0;
    }

    .menu {
        display: block;
    }

    .menu-link {
        margin: 0 15rem;
        font-size: 16rem;
    }

    .menu-links-wrapper .header-buttons {
        width: 100%;
        margin-top: auto;
    }

    .menu-links-wrapper .btn {
        width: 100%;
        margin: 0;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .footer-links .footer-link:first-child {
        margin-bottom: 10rem;
    }

    .footer-links .footer-link:not(:last-child) {
        margin-right: 0;
    }

    .footer-link-text span {
        display: none;
    }

    .footer-phone {
        margin-bottom: 10rem;
    }

    .footer-copyright-block {
        padding-top: 24rem;
    }

    .section {
        padding: 70rem 0;
    }

    .page-title {
        font-size: 48rem;
        letter-spacing: 0;
    }

    .decor-tree-left, 
    .decor-tree-right {
        display: none;
    }

    .section-faq {
        padding-bottom: 30rem;
    }

    .faq-blocks {
        flex-direction: column;
        margin-top: 48rem;
    }

    .faq-block {
        max-width: 100%;
        order: -1;
    }

    .feedback-block {
        max-width: 100%;
        margin-top: 40rem;
    }

    .feedback-form {
        max-width: 260rem;
        width: 100%;
        margin: 0 auto;
    }

    .section-winners .container {
        padding: 0;
    }
    
    .winners-nav-block {
        flex-direction: column;
        align-items: flex-start;
    }

    .winners-week-tabs {
        margin: 0 auto 16rem;
        order: -1;
    }

    .winners-prizes-tabs {
        margin: 0 auto;
    }

    .winners-table .table-row {
        width: calc(100% - 30rem);
    }

    .winners-table .table-col {
        padding-left: 20rem;
        padding-right: 20rem;
    }

    .winners-table .simplebar-track.simplebar-vertical {
        right: 8rem;
    }

    .section-prizes {
        padding-top: 40rem;
    }

    .prize-garant-text {
        max-width: 210rem;
    }

    .prize {
        width: 354rem;
    }

    .prize:nth-child(1),
    .prize:nth-child(2) {
        margin-bottom: 60rem;
    }

    .prize-main {
        margin-top: 80rem;
    }

    .prize-main-text {
        max-width: 194rem;
        margin-top: 60rem;
        font-size: 32rem;
    }

    .section-game-mainpage {
        padding: 70rem 0;
        background: url(../img/bg-game-main-laptop.svg) center/cover no-repeat;
    }

    .game-mainpage-info {
        margin-left: 0;
    }

    .step {
        width: 180rem;
    }

    .step-title {
        font-size: 24rem;
    }

    .step-text {
        font-size: 16rem;
    }

    .step-text br {
        display: none;
    }

    .section-main {
        height: 478rem;
        padding-top: 120rem;
    }

    .section-mainpage {
        height: 740rem;
    }

    .section-main .gift-decor {
        top: 100rem;
        right: -246rem;
        width: 511rem;
        height: 366rem;
    }

    .section-mainpage .gift-decor {
        top: 234rem;
        right: -80rem;
        width: 678rem;
        height: 494rem;
    }

    .stub-title {
        margin-bottom: 10rem;
        font-size: 72rem;
        line-height: 0.9;
    }
    
    .stub-title br {
        display: none;
    }

    .section-mainpage .stub-title {
        margin-bottom: 20rem;
        font-size: 100rem;
    }

    .stub-text {
        margin-bottom: 50rem;
        font-size: 30rem;
        letter-spacing: 0.3rem;
    }

    .main-text {
        margin-bottom: 40rem;
    }

    .modal#form-authorization {
        width: 100%;
        height: 100%;
    }

    .header + .section:not(.section-main),
    .section-lk {
        padding-top: 130rem;
    }

    .section-lk {
        min-height: 813rem;
    }

    .lk-row {
        margin: 0;
    }

    .lk-col:first-child {
        max-width: 400rem;
        margin: 0;
    }

    .lk-col:last-child {
        width: calc(100% - 400rem);
    }

    .profile-info {
        flex-wrap: wrap;
    }

    .profile-name {
        margin-right: 10rem;
    }

    .profile-socs {
        width: 100%;
        margin-top: 10rem;
    }

    .lk-table-wrapper {
        min-height: 366rem;
        padding: 26rem 20rem 38rem 20rem;
    }

    .transaction-table .table-col {
        padding-top: 10rem;
        padding-bottom: 10rem;
        font-size: 16rem;
    }

    .transaction-table .table-col:not(:last-child) {
        padding-right: 20rem;
    }

    .transaction-table .table-col:nth-child(4) {
        width: 120rem;
    }

    .lk-information {
        margin-top: 44rem;
        padding: 20rem 28rem;
        font-size: 18rem;
        line-height: 1.3;
    }

    .tree {
        top: 220rem;
        left: -50rem;
        right: 0;
        transform: scale(.8);
    }

    .lvl-tooltip {
        left: -280rem;
        right: -280rem;
        bottom: 50rem;
        margin: auto;
    }

    .lvl-tooltip::after {
        top: auto;
        left: 0;
        right: 0;
        bottom: -25rem;
        border-top: 20px solid #fff;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .close-lvl-tooltop {
        position: absolute;
        top: 10rem;
        right: 10rem;
        width: 20rem;
        height: 20rem;
        background: url(../img/icon-close.svg) center/contain no-repeat;
        transition: all .3s ease;
        z-index: 1;
    }

    .close-lvl-tooltop:hover {
        transform: rotate(90deg);
    }

    .section-game-mainpage-lk {
        padding: 50rem 0;
    }

    .section-game-mainpage-lk .game-mainpage-info {
        padding: 0;
    }

    .countdown-game-wrapper {
        width: 260rem;
        height: auto;
    }

    .modal_content {
        top: 50rem;
    }
}
/*end laptop styles*/

/*mobile styles*/
@media (max-width: 480px) {
    html {
        font-size: calc(100vw / 480);
    }

    .header {
        height: 58rem;
    }

    .header-container {
        padding: 10rem 20rem;
    }

    .logo {
        max-width: 85rem;
        height: 32rem;
    }

    .header-buttons .btn {
        padding: 10rem 20rem;
        font-size: 16rem;
    }

    .menu-links-wrapper {
        position: fixed;
        left: -40rem;
        right: -40rem;
        bottom: 0;
        width: 100%;
        height: 58rem;
        margin: 0 auto;
        padding: 8rem 0 0;
        background: #fff;
        box-shadow: 0rem -6rem 10rem 0rem rgba(0, 0, 0, 0.05);
        transition: all .3s ease;
    }

    .menu-link img {
        margin-bottom: 4rem;
    }

    .menu-link {
        font-size: 16rem;
    }

    .footer {
        padding-bottom: 74rem;
    }

    .wrapper-stub .footer {
        padding-bottom: 16rem;
    }

    .footer-menu {
        flex-wrap: wrap;
        align-items: flex-end;
    }

    .footer .logo {
        max-width: 128rem;
        height: 49rem;
        margin: 0;
        order: -1;
    }

    .footer-links {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 24rem 0;
    }

    .footer-socs {
        text-align: left;
    }

    .footer-link-text span {
        display: inline;
    }

    .section {
        padding: 40rem 0;
    }

    .page-title {
        font-weight: 400;
        font-size: 52rem;
    }

    .section-faq {
        padding: 20rem 0;
        border-radius: 30rem;
    }

    .feedback-block {
        padding: 36rem 40rem 22rem;
    }

    .section-winners {
        padding: 70rem 0;
    }

    .winners-week-tabs {
        max-width: 280rem;
        min-height: 40rem;
    }

    .winners-week-tab {
        padding: 10rem 16rem;
        font-weight: 300;
        font-size: 18rem;
    }

    .winners-prizes-tab {
        padding: 12rem 28rem;
        font-weight: 300;
        font-size: 18rem;
    }

    .winners-table .table-head {
        border-radius: 0;
    }

    .winners-table .table-row {
        width: 100%;
    }

    .winners-table .table-body .table-row:nth-child(even) {
        border-radius: 0;
    }

    .table-col {
        padding: 12rem 8rem;
        font-size: 16rem;
        letter-spacing: 0;
    }

    .winners-table .table-col {
        width: auto;
        min-width: 80rem;
        padding-left: 12rem;
        padding-right: 12rem;
    }

    .winners-table .table-col:nth-child(3) {
        min-width: 115rem;
    }

    .winners-table .table-col:last-child {
        width: 50%;
    }

    .winners-table .table-body .table-col {
        padding: 20rem 12rem;
    }

    .superprize-winner .table-col {
        font-size: 18rem;
    }

    .section-prizes .page-title {
        margin-bottom: 20rem;
    }

    .prize-garant {
        flex-direction: column;
    }

    .prize-garant-img {
        margin-bottom: 48rem;
        order: -1;
    }

    .prize-garant-text:first-child,
    .prize-garant-text {
        max-width: 100%;
        margin: 0;
        text-align: center;
    }

    .prize-garant-text br {
        display: none;
    }

    .prize-garant-text {
        font-size: 30rem;
    }

    .prizes-title {
        margin: 60rem 0 20rem;
    }
    
    .prizes {
        margin-top: 0;
    }

    .prize,
    .prize:nth-child(1),
    .prize:nth-child(2) {
        width: 100%;
        margin-bottom: 20rem;
    }

    .prize:last-child {
        margin-bottom: 0;
    }

    .prize-img {
        margin-bottom: 0;
    }

    .prize-total {
        top: 0;
        right: -20rem;
    }

    .prize-main {
        flex-direction: column;
        margin-top: 100rem;
    }

    .prize-main-img {
        margin-bottom: 48rem;
        order: -1;
    }

    .prize-main-img .prize-total {
        top: -58rem;
        right: -22rem;
    }

    .prize-main-text:first-child,
    .prize-main-text {
        max-width: 100%;
        margin: 0;
        font-size: 44rem;
        text-align: center;
    }

    .prize-main-text br {
        display: none;
    }

    .section-game-mainpage {
        min-height: 718rem;
        background: url(../img/bg-game-main-mob.svg) center/cover no-repeat;
        border-radius: 30rem;
    }

    .game-mainpage-info {
        padding: 0;
    }

    .game-mainpage-text {
        margin: 24rem 0;
        font-size: 24rem;
    }

    .section-steps {
        border-radius: 30rem 30rem 0 0;
    }

    .steps {
        margin-top: 32rem;
    }

    .step {
        width: 250rem;
        margin: 0 auto 36rem;
    }

    .step:last-child {
        margin-bottom: 0;
    }

    .section-main {
        height: 810rem;
        padding-top: 100rem;
    }

    .section-mainpage {
        border-radius: 0 0 30rem 30rem;
    }

    .section-main .gift-decor {
        top: 415rem;
        right: 0;
        width: 480rem;
        height: 340rem;
    }

    .stub-title br {
        display: block;
    }

    .header + .section:not(.section-main), 
    .section-lk {
        padding-top: 100rem;
    }

    .section-lk {
        min-height: 1350rem;
        border-radius: 0 0 30rem 30rem;
    }

    .lk-row {
        flex-direction: column;
    }

    .lk-col:first-child {
        max-width: 100%;
        margin-bottom: 12rem;
    }

    .lk-col:last-child {
        width: 100%;
    }

    .section-lk .page-title {
        margin-bottom: 12rem;
    }

    .profile-name {
        font-size: 18rem;
    }

    .points {
        /* height: 42rem; */
        padding-top: 5rem;
        margin-right: 0;
        font-size: 32rem;
    }

    .lk-table-wrapper {
        min-height: 356rem;
    }

    .table-title {
        margin-bottom: 20rem;
    }

    .lk-information {
        max-width: 100%;
        margin-top: 0;
    }

    .tree {
        top: 180rem;
        left: -200rem;
        right: -200rem;
        transform: scale(1);
    }

    .section-game-mainpage-lk .game-mainpage-text {
        margin-bottom: 108rem;
    }

    .countdown-game-wrapper {
        top: 205rem;
        left: 20rem;
        right: auto;
        width: max-content;
        background: #fff;
    }

    .modal_content {
        top: 25rem;
    }
}

@media (max-width: 375px) {
    html {
        font-size: calc(100vw / 375);
    }

    .section-main {
        height: 730rem;
    }

    .section-mainpage {
        height: 656rem;
    }

    .section-main .gift-decor {
        width: 375rem;
        height: 270rem;
    }

    .section-mainpage .gift-decor {
        top: 370rem;
    }

    .section-mainpage .stub-title {
        font-size: 72rem;
    }

    .section-game-mainpage {
        height: 640rem;
    }

    .section-lk {
        min-height: 1290rem;
    }

    .transaction-table .table-col {
        font-size: 15rem;
    }

    .transaction-table .table-col:not(:last-child) {
        padding-right: 12rem;
    }

    .transaction-table .table-col:nth-child(1) {
        width: 68rem;
    }

    .transaction-table .table-col:nth-child(2) {
        width: 62rem;
    }

    .transaction-table .table-col:nth-child(3) {
        width: 72rem;
    }

    .transaction-table .table-col:nth-child(4) {
        width: 96rem;
    }

    .tree {
        top: 160rem;
        transform: scale(.85); 
    }

    .countdown-game-wrapper {
        top: 290rem;
    }
}
/*end mobile styles*/